*.txt
*.log
debug_*.php
temp_*.php

# Deployment
deploy.local.sh

# Development
node_modules/
vendor/*
!vendor/autoload.php
!vendor/composer/**
!vendor/ezyang/**
!vendor/maennchen/**
!vendor/myclabs/php-enum/**
!vendor/phpoffice/**
!vendor/psr/**
!vendor/symfony/polyfill-mbstring/**
todo.list
.phpunit.result.cache
.DS_Store
*.swp
*~
