<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutTodoAnnotatedTests="false"
         failOnRisky="false"
         failOnWarning="false"
         verbose="true">
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
        <const name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
        <const name="WP_TESTS_MULTISITE" value="0"/>
        <env name="WP_TESTS_DB_NAME" value="wp_test"/>
        <env name="WP_TESTS_DB_USER" value="root"/>
        <env name="WP_TESTS_DB_PASSWORD" value=""/>
        <env name="WP_TESTS_DB_HOST" value="localhost"/>
    </php>
    
    <testsuites>
        <!-- Default Test Suite - All tests -->
        <testsuite name="default">
            <directory>tests/</directory>
            <!-- Exclude tests with infrastructure issues for now -->
            <exclude>tests/Core/DatabaseTest.php</exclude>
            <exclude>tests/Core/ActivatorTest.php</exclude>
            <exclude>tests/Data/Repositories/PlayerRepositoryTest.php</exclude>
            <exclude>tests/Data/Repositories/RosterRepositoryTest.php</exclude>
        </testsuite>
        
        <!-- Production Test Suite - Minimal smoke coverage used by deploy.sh -->
        <testsuite name="Production">
            <file>tests/Core/LoggerTest.php</file>
        </testsuite>
        
        <!-- Complete Test Suite - All tests including experimental -->
        <testsuite name="Complete">
            <directory>tests/</directory>
        </testsuite>
        
        <!-- Individual suites for targeted testing -->
        <testsuite name="Core">
            <directory>tests/Core/</directory>
        </testsuite>
        
        <testsuite name="Services">
            <directory>tests/Services/</directory>
        </testsuite>
        
        <testsuite name="Data">
            <directory>tests/Data/</directory>
        </testsuite>
        
        <testsuite name="WooCommerce">
            <directory>tests/WooCommerce/</directory>
        </testsuite>
        
        <testsuite name="Legacy">
            <directory>tests/Legacy/</directory>
        </testsuite>
        
        <testsuite name="Integration">
            <directory>tests/Integration/</directory>
        </testsuite>
    </testsuites>
    
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">classes/</directory>
            <directory suffix=".php">includes/</directory>
        </include>
        <exclude>
            <directory>vendor/</directory>
            <directory>tests/</directory>
            <file>intersoccer-reports-rosters.php</file>
            <file>classes/services/validation-tests.php</file>
            <file>classes/data/models/players.php.old</file>
        </exclude>
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>
</phpunit>
